@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@font-face {
  font-family: 'uni';
  src: url('../fonts/uni.woff') format('woff');
}
body {
  overflow-x: hidden;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color:#242425;
  overflow-y:hidden;

}
.fas {
  position: relative;
  bottom: 55px;
  left: 6px;
}
#DiscordDNR {
  color:#7289DA;
  filter: drop-shadow(0 0 0.2rem #5d72bd);  
}
#DiscordDNNR {
  filter: drop-shadow(0 0 0.2rem rgb(10, 10, 10));
  color:rgb(59, 59, 59);
}
.navbar {
  position: relative;
  bottom: 50px;
}
.nvbritms {
  list-style-type: none;
  display: inline;
  display: inline-flex;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  float: right;
  position: relative;
  color:white;
  bottom: 171px;
  filter: drop-shadow(0 0 0.2rem black);
}
.navbar2 {
  position: relative;
  top: 70px;
}
.logo22 {
  position: relative;
  bottom: 111px;
  width: 129px;
  right: 20px;
  filter: drop-shadow(0 0 0.2rem rgb(209, 209, 209));
}
.logo22:hover {
  cursor: pointer;
}
#cardowner:hover {
  cursor: pointer;
  text-decoration: underline solid Currentcolor;
}
.cardtitle {
  position: relative;
  left: 55px;
  top: 12px;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
  margin-right: 0 0 0;
  width: 245px;
}
.cardtitle:hover {
  text-decoration: underline solid Currentcolor;
  cursor: pointer;
}
.credss {
  padding: 0 19px;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}
.credss:hover {
  cursor: pointer;
  text-decoration: underline solid Currentcolor;
}
.discordinv {
  cursor:pointer;
}
.discordinv:hover {
  text-decoration: underline solid Currentcolor;
}
.hm:hover {
  cursor: pointer;
  text-decoration: underline solid Currentcolor;
}

.hm {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

#Darkk {
  color: black;
}

.logo2 {
  width: 129px;
  position: relative;
  bottom: 230px;
  right: 20px;
  filter: drop-shadow(0 0 0.2rem rgb(209, 209, 209));
}
.muted {
  color: rgb(75, 75, 75);
  font-size: 20px;
  text-align: center;
  font-family: roboto;
  position: relative;
  text-shadow: 2px 2px 5px rgb(39, 39, 39);
  bottom: 190px;
}

.logo2:hover {
  cursor: pointer;
}
.navbarbg {
  background-color: #222222;
  height: 90px;
  opacity:0.9;
  position: relative;
  bottom: 90px;
  width: 1999px;
  right: 10px;
}

.dnt {
  font-family: uni;
  text-align: center;
  position: relative;
  bottom: -60px;
  font-size: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.carddis {
    position: relative;
    top: -68px;
    right: 60px;
    color: gray;
    font-size: 17px;
  }
  .stuffyes {
    position: relative;
    bottom:194px;
  }
  .cardinfo {
    position: relative;
    bottom: 70px;
    left: 70px;
  }
  .allcrds {
    display:inline-table;
    position:relative;
    bottom:-30px;
    right:160px;
  }
  .card {
    width:269px;
    background-color: rgb(44, 44, 44);
    height:330px;
    border-radius:30px;
    font-family:roboto;
    filter: drop-shadow(0 0 0.75rem black);
    position:relative;
    left:20px;
    bottom:90px;
    margin: 27px;
  }
  .cname {
    color:white;
    filter: drop-shadow(0 0 0.75rem black);
    opacity:100%;
    font-family:roboto;
    text-align:center;
    position:relative;
    top:180px;
  }
  .fab {
    color:white;
    cursor:pointer;
    transition: color 1s ease;
  }
  .fab:hover {
    color:gray;
  }
  .center2 {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nyrisoc {
    position:relative;
    letter-spacing: 20px;
    top:270px;
    left:96px;
    margin:0px;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #cardlink {
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    cursor:pointer;
  }
  #cardlink:hover {
    text-decoration: underline solid currentColor;
  }
  .socials {
    position:relative;
    text-align:center;
    top:230px;
    display:inline-flex;
    letter-spacing: 20px;
    left:72px;
    top:270px;
  }
  .desctx {
    color:rgb(196, 192, 192);
    filter: drop-shadow(0 0 0.75rem black);
    text-align:center;
    font-family:roboto;
    position:relative;
    top:305px;
  }
  .pfpy {
    filter: drop-shadow(0 0 0.75rem black);
    width:100px;
    height:100px;
    position:relative;
    border-radius:50px;
  }
