@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@font-face {
  font-family: 'uni';
  src: url('../fonts/uni.woff') format('woff');
}
body {
  user-select:none;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color:#242425;
  overflow-y:hidden;
  overflow-x:hidden;
}
#DiscordDNR {
  color:#7289DA;
  filter: drop-shadow(0 0 0.2rem #5d72bd);  
}
#DiscordDNNR {
  filter: drop-shadow(0 0 0.2rem rgb(10, 10, 10));
  color:rgb(59, 59, 59);
}
.navbar {
  position: relative;
  bottom: 50px;
}
.nvbritms {
  list-style-type: none;
  display: inline;
  display: inline-flex;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  float: right;
  position: relative;
  color:white;
  bottom: 171px;
  filter: drop-shadow(0 0 0.2rem black);
}
.navbar2 {
  position: relative;
  top: 70px;
}
.credss {
  padding: 0 19px;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}
.credss:hover {
  cursor: pointer;
  text-decoration: underline solid Currentcolor;
}

.discordinv {
  cursor:pointer;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}
.discordinv:hover {
  text-decoration: underline solid Currentcolor;
}

.hm:hover {
  cursor: pointer;
  text-decoration: underline solid Currentcolor;
}

.hm {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}
.txt404 {
  font-family:roboto;
  color:#cb0202;
  font-size:150px;
  text-align:center;
  position:relative;
  bottom:90px;
  filter: drop-shadow(0 0 0.2rem #eb0303);
}
.txt4042 {
  font-family:roboto;
  color:#f30404;
  filter: drop-shadow(0 0 0.2rem #eb0303);
  text-align:center;
  font-size:40px;
  position:relative;
  bottom:201px;
}

.logo22 {
  position: relative;
  bottom:20px;
  width: 129px;
  right: 20px;
  filter: drop-shadow(0 0 0.2rem rgb(255, 0, 0));
  cursor: pointer;
}
#Darkk {
  color: black;
}

.logo2 {
  width: 129px;
  position: relative;
  bottom: 230px;
  right: 20px;
  filter: drop-shadow(0 0 0.2rem rgb(209, 209, 209));
}
.muted {
  color: rgb(75, 75, 75);
  font-size: 20px;
  text-align: center;
  font-family: roboto;
  position: relative;
  text-shadow: 2px 2px 5px rgb(39, 39, 39);
  bottom: 190px;
}

.logo2:hover {
  cursor: pointer;
}
.navbarbg {
  background-color: #222222;
  height: 90px;
  opacity:0.9;
  position: relative;
  bottom: 90px;
  width: 1999px;
  right: 10px;
}

.dnt {
  font-family: uni;
  text-align: center;
  position: relative;
  bottom: -60px;
  font-size: 50px;
} 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 860px;
  position: relative;
  bottom: 190px;
}
#Simplee {
  color:white;
}
@media (max-width: 480px) {
  body {
    overflow-y:hidden;
    overflow-x:hidden;
  }
  .dnt {
    font-size:40px;
    position:relative;
    bottom:-29px;
  }
  html, body {
    overflow-y:scroll;
    overflow-x:hidden;
  }
  .card {
    position:relative;
    left:40px;
  }
  .banner {
    position:relative;
    bottom:304px;
    width:310px;
    right:3px;
  }
  .muteddnis {
    position:relative;
    bottom:100px;
  }
  .nvbritms {
    position:relative;
    bottom:155px;
    right:13px;
  }
  .logo2 {
    position:relative;
    top:9999px;
  }
  .logo22 {
    position:relative;
    top:9999px;
  }
}
/* hi */
